# Node modules
node_modules/

# Android build files
android/.gradle/
android/app/build/
android/build/
android/.cxx/

# iOS build files (if any)
ios/build/
ios/Pods/

# Bundles and cache
*.bundle
*.map
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
metro-cache/
.gradle/
.expo/

# Keystore and signing files
android/app/my-release-key.keystore
android/app/debug.keystore

# VSCode & IDE settings
.vscode/
.idea/

# Environment & credentials
.env
.env.*
